.ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github-square:hover{
    color: #323131
}

.fa-linkedin-square:hover{
    color: #2764AC
}

.fa-facebook-square:hover{
    color: #4664A5
}